{%extends "layout/base.html"%}

{%block title%}TRANG CHỦ{%endblock%}

{%block content%}

{%if pages>1%}
<ul class="pagination mt-1">
    {%for i in range(1, pages+1)%}
     <li class="page-item"><a class="page-link" href="/?page={{i}}">{{i}}</a></li>
    {%endfor%}
</ul>
{%endif%}

<div class="row">
    {%for p in products%}
    <div class="col-md-3 col-xs-12">
        <div class="card" style="margin-top: 16px">
            <img class="card-img-top" src="{{p.image}}" alt="{{p.name}}">
            <div class="card-body">
                <h4 class="card-title">{{p.name}}</h4>
                <p class="card-text">Giá: {{p.price}}</p>
                <a href="products/{{p.id}}" class="btn btn-primary">Chi tiết sản phẩm</a>
                <a href="javascript:;" onClick="addToCart({{p.id}}, '{{p.name}}', {{p.price}})" class="btn btn-danger">Đặt hàng</a>
            </div>
        </div>
    </div>
    {%endfor%}
</div>

{%endblock%}

